@import "tailwindcss";

@theme {
  --color-primary: #023460;
  --color-primary-dark: #012b50;
  --color-secondary: #f9fafb;
  --color-neutral: #9ca3af;
  --color-neutral-black: #0a0a0a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-neutral-black);
}
